@font-face {
    font-family: 'Vary';
    src: url(./fonts/Vary-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    color: #6285e4;
}

html, body {
    font-size: 12px;
    background-color: #E3F6FF;
    font-family: 'Vary';
}

nav {
    background-color: #F0F0FF;
    box-shadow: 0 0 0.5rem #013343;
}

main h1 {
    color: #5062A9;
}

main p, ul {
    color: #6285e4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .page-title {
    padding: 1rem;
    font-size: 2rem;
}

card .project-card {
    /* background-color: rgb(73, 240, 204, 0.2); */
    /* border: 1px solid red; */

    background-image: linear-gradient(
        90deg,
        rgb(192, 137, 229, 0.3), rgb(64, 189, 231, 0.3), rgb(192, 137, 229, 0.3)
    );
    background-size: 200%;
    animation: bg-pan 10s linear infinite;

    border-radius: 2rem;
    padding: 2rem;
    margin: 3rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@keyframes bg-pan {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200% 200%;
    }
}
card .project-card .grid-item h1{
    font-size: 2.4rem;
    padding: 2rem 0rem;
}
card .project-card .grid-item p{
    font-size: 1.3rem;
    padding: 2rem 0rem;
}
card .project-card .grid-item {
    padding: 1rem;
    margin: 1rem;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
card .project-card .grid-item img {
    padding: .25rem;
    width: 27rem;
}