:root {
    /* COLOR VARIABLES FOR DARK MODE */
    --dark-mode-bg: #0d012d;
    --dark-mode-font: #99E2FF;
    --dark-mode-header: white;
    --dark-mode-nav-pan: linear-gradient(
        45deg,
        #007EA7, #9F87AF, #007EA7
    );
    --dark-mode-nav-bg: #0d0120;
    --dark-mode-nav-border: #007EA7;
    --dark-mode-digi-pan: linear-gradient(
        45deg,
        #8980F5, #CF8BA9, #8980F5
    );
    --dark-mode-socs: #C2EEFF;
    --projectcardbg: rgba(255, 255, 255, 0.25);
    --projectcardhoverbg:rgba(174, 143, 245, 0.5);

    /* COLOR VARIABLES FOR LIGHT MODE */
    --light-mode-bg: #E3F6FF;
    --light-mode-font: #7492e5;
    --light-mode-header: #5062a9;
    --light-mode-nav-pan: linear-gradient(
        45deg,
        #c089e5, #40bde7, #c089e5
    );
    --light-mode-nav-bg: #F0F0FF;
    --light-mode-nav-border: #013343;
    --light-mode-digi-pan: linear-gradient(
        45deg,
        #4880f9, #fb84df, #4880f9
    );
    --light-mode-socs: #80a8ff;
    --projectcardbg: rgba(174, 143, 245, 0.25);
    --projectcardhoverbg:rgba(154, 244, 201, 0.5);

    /* ACTIVE VARIABLES */
    --active-bg: var(--dark-mode-bg);
    --active-font: var(--dark-mode-font);
    --active-header: var(--dark-mode-header);
    --active-nav-pan: var(--dark-mode-nav-pan);
    --active-nav-bg: var(--dark-mode-nav-bg);
    --active-nav-border: var(--dark-mode-nav-border);
    --active-digi-pan: var(--dark-mode-digi-pan);
    --active-socs: var(--dark-mode-socs);
}

@font-face {
    font-family: 'BetterGrade';
    src: url(./fonts/BetterGrade-519DV.ttf);
}
@font-face {
    font-family: 'Gilmer';
    src: url(./fonts/Gilmer-Light.otf);
}
@font-face {
    font-family: 'Vary';
    src: url(./fonts/Vary-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    /*color: var(--active-font);*/
}

html, body {
    font-family: 'Vary';
    font-size: 12px;
    /*background-color: var(--active-bg);*/
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
    transition: 0.3s ease-in;
}
@keyframes wow {
    from{
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}

header {
    z-index: 100;
    left: 0;
    top: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 35%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    /*background-color: var(--active-nav-bg);*/
    border-radius: 2.5rem;
    /*box-shadow: 0 0 0.5rem var(--active-nav-border);*/
    transition: 0.3s ease-in;
}

#nav-span {
    width: 100%;
    padding: 0rem 2rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(
        45deg,
        #5DD9C1, #B084CC, #5DD9C1
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: nav-pan 3s linear infinite;
}
@keyframes nav-pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}

main {
    display: flex;
    flex-direction: column;
}
main h1 {
    /*color: var(--active-header);*/
}
main p, ul{
    /*color: var(--active-font);*/
}

main .introcard {
    margin: 1rem;
    /*border: 2px solid;
    border-image: linear-gradient(
        45deg,
        #007EA7, #9F87AF, #007EA7
    ) 1;*/
    display: inline-flex;
    min-height: 95vh;
    justify-content: space-around;
    align-items: center;
    pointer-events: none;
}

.intro h1 {
    font-size: 4rem;
}
.intro p {
    font-size: 1.5rem;
}

.card {
    /*border: 1px solid white;*/
    /* height: 100vh; */
}

.grid-container {
    margin: 0.5rem;
    display: grid;
    height: 98%;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    /* border: 1px solid white; */
    gap: 0.1rem;
}
.grid-container-abt {
    margin: 0.5rem;
    display: grid;
    height: 98%;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-rows: 1fr 3fr; */
    /* border: 1px solid white; */
    gap: 0.1rem;
}

.grid-item {
    /* border: 1px solid white; */
    border-radius: 2rem;
    padding: 2rem;
}

#intro {
    max-height: 100%;
    align-self: center;
    overflow: scroll;
}

.intro h1 {
    line-height: 5rem;
}

#name{
    font-size: 7rem;
    font-family: 'BetterGrade';
    background-size: 200%;
    /*background-image: var(--active-nav-pan);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-pan 3s linear infinite;
}
@keyframes bg-pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}

#aboutme h1, #lists h1, #hobb h1 {
    font-size: 3rem;
}
#aboutme p, #hobb p {
    font-size: 1.2rem;
}
#inf p {
    font-size: 1.2rem;
}
#lists ul {
    font-size: 1.1rem;
}
#js {
    opacity: 0.3;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#socials h1, #lin h1 {
    font-size: 3rem;
}
#socials p {
    font-size: 2rem;
    line-height: 2rem;
}
#socials a:visited, #socials a:link, .spot a:visited, .spot a:link/*, #lin-span a:visited, #lin-span a:link */ {
    /*color: var(--active-socs);*/
    transition: color 0.2s ease-in;
    text-decoration: none;
}
#socials ul {
    font-size: 2rem;
    list-style-type: none;
    display: flex;
    gap: 3rem;
}
#socials #discord:hover {
    color: #5865F2;
}
#socials #github:hover {
    color: #484141;
}
#socials #twitter:hover {
    color: #00acee;
}
#socials #instagram:hover {
    color: #d62976;
}
#socials li:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
#smolp {
    font-size: 1.3rem;
}

#lin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lin-span {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease-in;
}
#lin-span h1:hover {
    color: #0077b5 !important;
    transform: scale(1.1);
    transition: 0.5s;
}

#linkspot {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.spot, .mail{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.spot h1, .mail h1 {
    font-size: 2.5rem;
}
.spot p {
    font-size: 2rem;
    transition: color 0.2s ease-in;
}
.spot p:hover, .spot a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: #16DB93;
}

.mail p {
    font-size: 1.5rem;
    transition: color 0.2s ease-in;
}
.mail p:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: #5DD9C1;
}


.project-container {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid white; */
    padding: 1rem;
}
.project-item {
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.project-card a{
    font-size: 1.2rem !important;
}
.project-card {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    /* border: 1px solid red; */
}

.projectheader {
    font-size: 1.5rem;
}
#footp {
    font-size: 1.5rem;
}

.imagebox {
    padding: 1rem;
    object-fit: contain;
}
.imagebox:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.project-item p {
    font-size: 1.2rem;
    text-align: center;
}
.project-item a:visited, .project-item a:link {
    font-size: 1.5rem;
    color: #C2EEFF;
    transition: color 0.2s ease-in;
    text-decoration: none;
    transition: 0.2s;
}
.project-item a:hover {
    transform: scale(1.1);
    color: #484141;
}
#projecttitle {
    justify-content: end;
}

#digimgc {
    background-size: 200%;
    /*background-image: var(--active-digi-pan);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: digi_pan 3s linear infinite;
    font-weight: bold;
}
@keyframes digi_pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}
.holopin-container {
    margin: 10rem;
    padding: 1rem 1rem;
    /* border: 1px white solid; */
    border-radius: 2rem;
}

.holopin {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.cursor-shadow {
    width: 2rem;
    height: 2rem;
    z-index: 999;
    position: fixed;
    background-color: transparent;
    pointer-events: none;
    animation: cursor-shadow 5s infinite;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem #00acee,
                0 0 2rem #00acee,
                0 0 5rem #00acee;
}
@keyframes cursor-shadow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    html, body {
        scroll-behavior: smooth;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    nav {
        width: 100%;
    }

    .cursor-shadow {
        display: none !important;
    }

    #linkaboutme, #linksocials {
        padding-top: 15%;
    }

    .grid-container {
        display: flex;
        flex-flow: column;
    }

    .card {
        height: auto;
    }

    .project-container {
        display: flex;
        flex-flow: column;
    }

    #socials #listtext {
        display: none;
    }

    #discord i {
        color: #5865F2;
    }
    #instagram i{
        color: #d62976;
    }
    #twitter i{
        color: #00acee;
    }
    #github i{
        color: #484141;
    }
    #linkspot i{
        color: #16DB93;
    }
    #lin-span i, #lin-span h1{
        color: #0077b5;
    }
    #lin-span p{
        font-size: 1.1rem;
    }
    .mail {
        color: #5DD9C1;
    }
}