* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: monospace;
    font-size: 12px;
    background-color: #0d012d;
}

nav {
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #230d5f;
}

nav h1 {
    padding: 0 1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav ul li {
    padding: 0 2rem;
}

main {
    display: flex;
    margin: 2rem;
    padding: 2rem;
}

main .intro h1{
    color: white;
    font-size: 4rem;
}
main .intro p {
    color: white;
    font-size: 1.5rem;
}

main .intro h1 span {
    background-size: 200%;
    background-image: linear-gradient(
        45deg,
        #007EA7, #9F87AF, #007EA7
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-pan 3s linear infinite;
}

@keyframes bg-pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}