@font-face {
    font-family: 'BetterGrade';
    src: url(./fonts/BetterGrade-519DV.ttf);
}
@font-face {
    font-family: 'Gilmer';
    src: url(./fonts/Gilmer-Light.otf);
}
@font-face {
    font-family: 'Vary';
    src: url(./fonts/Vary-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Vary';
    font-size: 12px;
    background-color: #0d012d;
}

header {
    left: 0;
    top: 0;
    padding: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 35%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    background-color: #0d0120;
    border-radius: 2.5rem;
    box-shadow: 0 0 0.5rem #007EA7;
}

#nav-span {
    width: 100%;
    padding: 0rem 3rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(
        45deg,
        #5DD9C1, #B084CC, #5DD9C1
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: nav-pan 3s linear infinite;
}
@keyframes nav-pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}


main {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding: 0 2rem;
}

main .card h1{
    color: white;
    font-size: 4rem;
}
main .card p {
    color: white;
    font-size: 1.5rem;
}

#name{
    font-size: 6rem;
    font-family: 'BetterGrade';
    background-size: 200%;
    background-image: linear-gradient(
        45deg,
        #007EA7, #9F87AF, #007EA7
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-pan 3s linear infinite;
}

@keyframes bg-pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}

.intro, .about-section , .socials-section {
    padding: 2rem;
    border: 2px solid;
    border-image: linear-gradient(
        45deg,
        #007EA7, #9F87AF, #007EA7
    ) 1;
    max-width: 85%;
}

main .card {
    margin: 1rem;
    border: 2px solid;
    border-image: linear-gradient(
        45deg,
        #007EA7, #9F87AF, #007EA7
    ) 1;
    display: inline-flex;
    height: 95vh;
    justify-content: space-around;
    align-items: center;
}

.card .about-section p {
    font-size: 1.3rem;
}

.card .about-section ul {
    padding-left: 2rem;
    color: white;
}
.card .about-section ul li {
    list-style-type: disc;
}

#textfade {
    opacity: 0.2;
}

.socials-section a{
    font-size: 2rem;
    color: #007EA7;
    text-decoration: none;
}