
@font-face {
    font-family: 'BetterGrade';
    src: url(./fonts/BetterGrade-519DV.ttf);
}
@font-face {
    font-family: 'Gilmer';
    src: url(./fonts/Gilmer-Light.otf);
}
@font-face {
    font-family: 'Vary';
    src: url(./fonts/Vary-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 3fr;
}

.grid-item {
    /* border: 1px solid red; */
    border-left: 1px solid #0a3b56;
    border-right: 1px solid #0a3b56;
    height: 85vh;
    background-color: #011627;
}

.fg-item {
    /* border: 1px solid red; */
    aspect-ratio: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fg-item i {
    color: white;
    /* border: 1px red solid; */
    font-size: 4rem;
}

.fg-item a{
    display: none;
}

.sg-item {
    /* border: 1px solid orange; */
    height: 100%;
    color: white;
    display: none;
}
.sg-item:target {
    display: block;
}

.tg-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

.nav {
    position: relative;
    /* border: 1px solid red; */
    height: 7.5vh;
    background-color: #19314a;
}

.footer {
    position: relative;
    /* border: 1px solid red; */
    height: 7.5vh;
    background-color: #219fd5;
}

#void {
    color: transparent;
}

.intro {
    color: white;
}
.intro h1 {
    font-family: Gilmer;
    font-size: 4rem;
    line-height: 3rem;
}
.intro p {
    font-size: 1.25rem;
    font-family: monospace;
}

#name{
    font-size: 8rem;
    font-family: 'BetterGrade';
    background-size: 200%;
    background-image: linear-gradient(
        45deg,
        #b755f9, #48d1ff, #b755f9
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bg-pan 3s linear infinite;
}
@keyframes bg-pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}

#brightblue {
    color: #00bff9;
}
#greenstring {
    color:#6bff81;
}
#darkblue {
    color: #358ef4;
}
#parenthesis{
    color: #d6d700;
}
#paleblue {
    color:#52b6f7;
}
#nums {
    color:#179fd5;
}