* {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 3fr;
}

.grid-item {
    /* border: 1px solid red; */
    border-left: 1px solid #0a3b56;
    border-right: 1px solid #0a3b56;
    height: 85vh;
    background-color: #011627;
}

.fg-item {
    /* border: 1px solid red; */
    aspect-ratio: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fg-item i {
    color: white;
    /* border: 1px red solid; */
    font-size: 4rem;
}

.fg-item a{
    display: none;
}

.sg-item {
    /* border: 1px solid orange; */
    height: 100%;
    color: white;
    display: none;
}
.sg-item:target {
    display: block;
}

.nav {
    position: relative;
    /* border: 1px solid red; */
    height: 7.5vh;
    background-color: #19314a;
}

.footer {
    position: relative;
    /* border: 1px solid red; */
    height: 7.5vh;
    background-color: #219fd5;
}