a:link, a:visited {
    color: #99E2FF;
}

html, body {
    background-color: #0D012D;
}

nav {
    background-color: #0D0120;
    box-shadow: 0 0 0.5rem #007EA7;
}

main h1 {
    color: white;
}

main p, ul {
    color: #99E2FF;
}

#name {
    background-image: linear-gradient(
        45deg,
        #45bee6, #d85ab3, #45bee6
    );
}

.project-card {
    background-color: rgba(255, 255, 255, 0.25);
}
.project-card:hover {
    transition: 0.3s ease-in-out;
    background-color: rgba(174, 143, 245, 0.5);
}
.project-card a:hover {
    transition: 0.3s !important;
    color: rgb(82, 218, 195) !important;
}

.holopin-container {
    background-color: rgba(255, 255, 255, 0.25);
}
.holopin-container:hover{
    transition: 0.3s ease-in-out;
    background-color: rgba(174, 143, 245, 0.5);
}
.holopin-container a:hover {
    transition: 0.3s !important;
    color: rgb(82, 218, 195) !important;
}

#socials a:visited, #socials a:link, .spot a:visited, .spot a:link {
    color: #C2EEFF;
}

#digimgc {
    background-image: linear-gradient(
        45deg,
        #8980F5, #CF8BA9, #8980F5
    );
}