a:link, a:visited {
    color: #6285e4;
}

html, body {
    background-color: #E3F6FF;
}

nav {
    background-color: #F0F0FF;
    box-shadow: 0 0 0.5rem #013343;
}

main h1 {
    color: #5062A9;
}

main p, ul {
    color: #6285e4;
}

#name {
    background-image: linear-gradient(
        45deg,
        #b755f9, #48d1ff, #b755f9
    );
}

.project-card {
    background-color: rgba(174, 143, 245, 0.25);
}
.project-card:hover {
    transition: 0.3s ease-in-out;
    background-color: rgba(154, 244, 201, 0.5);
}
.project-card a{
    color: #415fb2 !important;
}
.project-card a:hover {
    transition: 0.3s !important;
    color: rgb(228, 77, 242) !important;
}

#socials a:visited, #socials a:link, .spot a:visited, .spot a:link {
    color: #80A8FF;
}

#digimgc {
    background-image: linear-gradient(
        45deg,
        #4880F9, #FB84DF, #4880F9
    );
}